In [3]:
import pandas as pd

In [4]:
df = pd.read_excel('DATA\clean_Books.xlsx')

In [5]:
df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L'],
      dtype='object')

In [6]:
df = df[df["Year-Of-Publication"].str.len() == 6]

In [7]:
df['Year-Of-Publication'] = df['Year-Of-Publication'].str.replace('"', '')

In [11]:
df.shape

(219036, 6)

In [15]:
df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L'],
      dtype='object')

In [10]:
df.drop_duplicates(subset='Image-URL-L', keep=False, inplace=True)

In [12]:
df = df.dropna(subset=['Publisher'])

In [13]:
df.rename(columns={'Book-Title': 'Title', 'Book-Author': 'Author', 'Year-Of-Publication': 'Publication Year','Image-URL-L':'Image'}, inplace=True)

In [27]:
ratings = pd.read_csv("DATA\BX-Book-Ratings.csv", sep=';', encoding="latin-1")

In [28]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [30]:
x=ratings['User-ID'].value_counts() > 200
x[x].shape

(899,)

In [31]:
y= x[x].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='User-ID', length=899)

In [32]:
ratings = ratings[ratings['User-ID'].isin(y)]

In [34]:
ratings_with_books = ratings.merge(df, on='ISBN')

In [36]:
ratings_with_books.columns

Index(['User-ID', 'ISBN', 'Book-Rating', 'Title', 'Author', 'Publication Year',
       'Publisher', 'Image'],
      dtype='object')

In [37]:
number_rating = ratings_with_books.groupby('Title')['Book-Rating'].count().reset_index()
number_rating.head()

                                               Title  Book-Rating
0                           " Always Have Popsicles"            1
1            " Apple Magic (The Collector's series)"            1
2  " Clifford Visita El Hospital (Clifford El Gra...            1
3                                    " Dark Justice"            1
4                                        " Deceived"            1

In [38]:
number_rating.rename(columns={'Book-Rating':'num_of_rating'},inplace=True)
number_rating.head()

                                               Title  num_of_rating
0                           " Always Have Popsicles"              1
1            " Apple Magic (The Collector's series)"              1
2  " Clifford Visita El Hospital (Clifford El Gra...              1
3                                    " Dark Justice"              1
4                                        " Deceived"              1

In [40]:
final_rating = ratings_with_books.merge(number_rating, on='Title')
final_rating.head(20)

,User-ID,ISBN,Book-Rating,Title,Author,Publication Year,Publisher,Image,num_of_rating
0,277427,0026217457,0,"""Vegetarian Times Complete Cookbook""","""Lucy Moll""",1995,"""John Wiley &amp","""http://images.amazon.com/images/P/0026217457....",7
1,49889,0026217457,0,"""Vegetarian Times Complete Cookbook""","""Lucy Moll""",1995,"""John Wiley &amp","""http://images.amazon.com/images/P/0026217457....",7
2,51883,0026217457,0,"""Vegetarian Times Complete Cookbook""","""Lucy Moll""",1995,"""John Wiley &amp","""http://images.amazon.com/images/P/0026217457....",7
3,98741,0026217457,0,"""Vegetarian Times Complete Cookbook""","""Lucy Moll""",1995,"""John Wiley &amp","""http://images.amazon.com/images/P/0026217457....",7
4,100906,0026217457,8,"""Vegetarian Times Complete Cookbook""","""Lucy Moll""",1995,"""John Wiley &amp","""http://images.amazon.com/images/P/0026217457....",7
5,140036,0026217457,0,"""Vegetarian Times Complete Cookbook""","""Lucy Moll""",1995,"""John Wiley &amp","""http://images.amazon.com/images/P/0026217457....",7
6,142524,0026217457,6,"""Vegetarian Times Complete Cookbook""","""Lucy Moll""",1995,"""John Wiley &amp","""http://images.amazon.com/images/P/0026217457....",7
7,277427,003008685X,8,"""Pioneers""","""James Fenimore Cooper""",1974,"""Thomson Learning""","""http://images.amazon.com/images/P/003008685X....",1
8,277427,0060002050,0,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
9,69697,0060002050,0,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
10,78783,0060002050,0,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
11,98391,0060002050,8,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
12,114368,0060002050,5,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
13,131046,0060002050,0,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
14,145619,0060002050,0,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
15,182085,0060002050,0,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
16,182086,0060002050,10,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
17,226545,0060002050,0,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
18,228764,0060002050,0,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13
19,242006,0060002050,10,"""On a Wicked Dawn (Cynster Novels)""","""Stephanie Laurens""",2002,"""Avon Books""","""http://images.amazon.com/images/P/0060002050....",13

In [41]:
final_rating.shape

(403748, 9)

In [42]:
final_rating = final_rating[final_rating['num_of_rating'] >= 50]
final_rating.shape

(53448, 9)

In [43]:
final_rating.drop_duplicates(['User-ID','Title'],inplace=True)
final_rating.shape

(51757, 9)

In [44]:
final_rating.to_excel("clean_rating2.xlsx", index=False)

In [14]:
df.to_excel("clean_books2.xlsx", index=False)